body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

td {
  height: 30px;
  width: 50px;
  background-color: lightblue;
}

.true {
  background-color: green;
}
.false {
  background-color: red;
}
